.tribute-container {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  max-height: 440px;
  max-width: 550px;
  overflow: auto;
  display: block;
  z-index: 100;
}
.tribute-container ul.select {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 5px 0;
  max-height: 200px;
  min-width: 240px;
  overflow: auto;
}
.tribute-container ul.select li {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
.tribute-container ul.select li.highlight {
  background: #f5f7fa;
}
.tribute-container ul.select li span {
  font-weight: bold;
}
.tribute-container ul.select li span.left {
  float: left;
}
.tribute-container ul.select li span.right {
  float: right;
}
.tribute-container ul.select li.no-match {
  cursor: default;
}
.tribute-container .menu-highlighted {
  font-weight: bold;
}
